<launch>
  
  <!-- This will launch the costmap_2d node with parameters configured according to gazebo -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">
	    <rosparam file="$(find hybrid_astar)/launch/realworld_params.yaml" command="load" ns="costmap" />  
  </node>

  <!-- This will launch the Hybrid A* Path Planner -->
  <node pkg="hybrid_astar" type="hybridAstar_node" name="hybrid_astar_node" clear_params="true">
      <remap from="/base_pose_ground_truth" to="/map"/>
      <remap from="/costmap_node/costmap/costmap" to="/move_base/global_costmap/costmap"/>
  </node>

</launch>